*{ 
    box-sizing:border-box;
}

body{ 
    padding: 0;
    margin:0;
    background-color: #DDF2EB !important;
}

header {
    
    display:flex;
    padding:30px;
    text-align:center;
    
    width:100%;
    height:130px;
    background-color: #465362;
    color:#fff
 }
 .logo{ 
    flex:1;
 }
 .title{
    flex:4;
    margin-top:20px;
  }

 section{
    
    display:flex;
  
  }

  footer{ 
    
    display:flex;
  }
  .footer-card{
    flex:1;
    border:1px solid black;
   }
  nav{
    border:10px solid #465362;
    flex:1;
    padding:15px;
    
    color:#fff;
    background-color: #465362;
    
   }

   #left{
    border-left:none
   }

   #right{
    border-right:none
   }
   
   .my-content{ 
    flex:4;
    padding:100px;
    display:flex;
    flex-direction: row;
    row-gap:200px;
    flex-wrap: wrap;
    width:100%;
    justify-content:space-around;
    
   }

  
  .card{ 
   background-color:#465362 !important;
   padding:20px;
   margin-bottom: 10px !important;
   border-radius:18px ;
   text-align: center !important;
   color:#fff ;
   display:flex; 
   justify-content:space-between;
  }

  .card-title{ 
    text-align: center !important;
   }

.btn { 
  background-color: #011936 !important;
}


   